<footer>
  <%= link_to image_tag("artwork-donation-logo-white.png", class:"logo-white"), artworks_path %>
  <div class="wrapper">
    <P><small>&copy; 2020 artwork donation</small></p>
  </div>
</footer>