<%= render "shared/header" %>

<div id="contact-index-background-image">

<div class="page-title">CONTACT</div>

<div class="location">
  <div class="wrapper">
    <div class="location-info">
      <div class="location-info-title">
        artwork donation
      </div>
      <div class="location-info-address">
        <p>
        郵便番号：４６０−０００８<br>
        住所：愛知県名古屋市中区栄３丁目１３−２０ 栄センタービル３F<br>
        電話：１２−３４５６−７８９<br>
        営業時間：１１時００分〜２２時００分<br>
        休日：なし<br>
        <span class="contact-check">※休日は年末年始のみ</span>
        </p>
        <br>
        <br>
        <br>
        <p class="supporter">
        artwork donationはプロジェクトの達成に貢献するサポートアーティストを募集します
        </p>
        <%= link_to image_tag("force-of-will.jpg", class:"artist-image"), artists_path %>
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.6200628374972!2d136.90341541496576!3d35.16609508031758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600377bde823f4ff%3A0xb605dc3ca5196cd3!2z44OG44OD44Kv44Kt44Oj44Oz44OXIOWQjeWPpOWxi-aghOagoQ!5e0!3m2!1sja!2sjp!4v1604725995064!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>

<div id="sns">
  <div class="wrapper">
    <div class="sns-box">
      <div class="sns-title">Youtube</div>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/g2AFcjHPO2A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="sns-box">
      <div class="sns-title">Twitter</div>
        <a class="twitter-timeline" data-height="315" href="https://twitter.com/TECHCAMPINFO?ref_src=twsrc%5Etfw">Tweets by TECHCAMPINFO</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="sns-box">
      <div class="sns-title">Facebook</div>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftechcampp%2F&tabs=timeline&width=340&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="480" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</div>

</div>

<%= render "shared/footer" %>