.label {
  font-size: 1.125rem;
  margin-bottom: 2px;
  margin-top: 5px;
  display: block;
}

.submit-btn {
  cursor: pointer;
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #3714d3;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid  #6666ff;    /* 枠の指定 */
  margin: 30px;
}

.submit-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #af264f;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.nickname-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.email-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.password-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.password-confirmation-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.last-name-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.first-name-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.last-name-kana-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem；
}

.first-name-kana-textarea {
  width: 600px;
  border: 1px rgb(194, 103, 179) solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem；
}

.artist-create-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.artist-contents {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.svgSample1 text {
  font-weight       : bold;
  font-size         : 27px;
  stroke            : #6666ff;
  fill              : #ffffff;
  letter-spacing    : 3px;
  text-anchor       : middle;
}

.svgSample1 > svg > use:nth-of-type(1) {
  stroke-width      : 7px;
  paint-order       : stroke;
  stroke-linejoin   : round ;
}

.svgSample1 > svg > use:nth-of-type(2) {
  stroke-width      : 0;
}

#background-registration-image {
  background-image: url(/assets/joanna-kosinska-m7H-9fTOBCg-unsplash.jpg);
  background-position: right 79% bottom 74%;
  min-height: 100vh;
}